<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567612632016-6mao1g62r07acbdh0iqujo5da0drbasa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567612632016-6mao1g62r07acbdh0iqujo5da0drbasa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567612632016-ms5881n70ra64p7rfi7i660pucknr2pb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNfVf426yoBpeOBKK0oJuIlVCb2s6AmW8</string>
	<key>GCM_SENDER_ID</key>
	<string>567612632016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graduation.project.irl</string>
	<key>PROJECT_ID</key>
	<string>irl-graduate</string>
	<key>STORAGE_BUCKET</key>
	<string>irl-graduate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567612632016:ios:54d8bd5e238e9ae12667d5</string>
</dict>
</plist>